src/SampleData/ProgramsToInstall/ProgramsToInstall.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.ProgramsToInstall" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.ProgramsToInstall" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProgramsToInstall" type="tns:ProgramsToInstall" />
  <xs:complexType name="ProgramsToInstall">
    <xs:sequence>
      <xs:element name="ProgramsList" type="tns:ProgramsList" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProgramsList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ProgramsListItem" type="tns:ProgramsListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProgramsListItem">
    <xs:attribute blend:FormatParameters="2,5" name="FilePath" type="xs:string" />
    <xs:attribute blend:FormatParameters="6,10" name="UserFriendlyDescription" type="xs:string" />
    <xs:attribute blend:FormatParameters="..\data\SampleIcons" name="Icon" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>